<% unless users.nil? || users.empty? %>
  <% users.each do |user| %>
  <div class="people-you-might-know small-12 medium-6 large-4 column">
    <div class="row add-people-section">
      <div class="columns about-people">
        <div class="about-people-author">

          <p class="author-name">
          <%= link_to user.proper_name, user_path(user) %> 
          <span class="role"><%= user.role.capitalize%> </span></p>

          <p class="attribute"> 
            <i class="fa fa-phone" aria-hidden="true"></i>
          <%= user.phone.nil? ? 'N/A' : (user.phone) %> </p>

          <p class="attribute"> 
            <i class="fa fa-envelope" aria-hidden="true"></i>
          <%= user.email.nil? ? 'N/A' : (user.email) %> </p>

          <p class="attribute"> 
            <i class="fa fa-user" aria-hidden="true"></i>
          <%= user.username.nil? ? 'N/A' : (user.username) %> </p>

        </div> 
        <%= link_to(eval("user_path(user)"), method: 'delete', data: {confirm: "Are you sure you want to permanently delete"}, class: 'button radius alert') do %>
        &nbsp;<%= "Delete" %>
        <% end %>  
      </div>
    </div>
  </div>
<% end %>


<% end %>