<div class="row">
  <div class="small-7 columns">
    <h3><%= @user.proper_name %></h3>
  </div>
  
</div>

<p>
  <b>Email</b>: <%= @user.email %>
</p>

<p>
  <b>Phone</b>: <%= @user.phone.nil? ? 'N/A' : (@user.phone) %>
</p>

<p>
  <b>Username</b>: <%= @user.username.nil? ? 'N/A' : @user.username %>
</p>

<p>
  <b>Role</b>: <%= @user.role.nil? ? 'N/A' : @user.role %>
</p>


<p>
  <b>Active</b>: <%= @user.active ? 'Yes' : 'No' %>
</p>

