
  <h3><%= @item.name %></h3>


    <p>
      <%= @item.current_price.nil? ? 'N/A' : number_to_currency(@item.current_price) %>
      / 
      <% unless @item.active %> Inactive <% else %> Active <%end%>
   


    </p>

    <%= link_to(add_item_path(@item.id), class: 'button button-hover-addcart') do %>
        <span>Add to cart</span><i class="fa fa-shopping-cart"></i>
      <% end %>




<div class="row" id="show_item">
  <!-- <div class="small-2 columns"> -->
  <!-- </div> -->
 <div class="small-5 small-centered columns">
  <% if !(@item.photo_url.nil?) %>
  <center> <p><%= image_tag @item.photo_url %></p> </center>
  <%else%>
  <%= image_tag 'img_not_available.png' %>
  <% end %>
</div>
  <!-- <div class="small-4 columns"> -->
  <!-- </div> -->
</div> 

<div class="row">

<div class="small-12 columns">
<!--   <h3><%= @item.name %></h3> -->
  <!-- </div> -->


  <!-- </div> -->

  <!-- <br> -->
  <p>
   <center> <b>Description</b>  </center> <br> 
    <%= @item.description %>
  </p>
</div>
</div>

<div class="row">
  <div class="small-4 small-centered columns">

  <!-- <div class="small-2 columns"> -->
    <center> <p>
      <b>Category: </b> <%= @item.category.capitalize %>
    </p> </center> 
  <!-- </div> -->
  <!-- <div class="small-2 columns"> -->
       <center> <p>
      <b>Color: </b> <%= @item.color.nil? ? 'N/A' : @item.color %>
       </p> </center>
  <!-- </div> -->
  <!-- <div class="small-2 columns end"> -->
       <center> <p>
      <b>Total weight: </b> <%= @item.weight.nil? ? 'N/A' : @item.weight %> lbs.
       </p> </center>
  <!-- </div> -->
</div>
</div>

<div class="row">
  <% if logged_in? && (current_user.role == "admin" || current_user.role == "manager" || current_user.role == "shipper")  %>
  <div class="small-2 columns">
    <p>
      <b>Inventory Level</b> <br>
      <%= @item.inventory_level.nil? ? 'N/A' : @item.inventory_level %>
    </p>
  </div>
  <div class="small-2 columns end">
    <p>
      <b>Reorder Level</b>
      <br><%= @item.reorder_level.nil? ? 'N/A' : @item.reorder_level %>
    </p>
  </div>
  <% end %>

</div>



