<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- <title><%#= content_for?(:title) ? yield(:title) : "foundation-rails" %></title> -->
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Lato" rel="stylesheet">
  <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla|Roboto:700" rel="stylesheet">
<script src="https://use.fontawesome.com/a36b0d8eac.js"></script>
  <title>Chess Warehouse :: <%= controller.controller_name.capitalize %></title>
  <%#= stylesheet_link_tag    "normalize" %>
  <%= stylesheet_link_tag    "application" %>


    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <!-- <%#= javascript_include_tag "application", 'data-turbolinks-track' => true %> -->
    <%= csrf_meta_tags %>
  </head>

  <body>
<!--     <div id="title_area">
      <%#= link_to image_tag('banner.png'), home_path %>
    </div> -->
    
<div class="container">
  <!-- Push Wrapper -->
  <div class="mp-pusher" id="mp-pusher">

    <%= render :partial => "partials/nav4" %>


    <!--<%#= render :partial => "partials/header" %>-->



<!--     <div class="row">
      <div class="small-12 columns" id="main_content">
        <%#= render :partial => "partials/flash" %>
        <%#= yield %>
      </div>
    </div> -->

    <div class="scroller" >
      <!-- this is for emulating position fixed of the nav -->
      <div class="scroller-inner" id="title_area">
        <div class="content clearfix topbar">
          <div class="block block-100 clearfix">
            <p><a href="#" id="trigger" class="menu-trigger"></a>
            <a id="right">  <% if logged_in? %> <%= link_to "|   Log Out   ", logout_path, class: 'right font-fix'%>

              <%= link_to "Welcome, #{current_user.first_name}  |  ", user_path(current_user), class: 'right font-fix' %> <%else%> <%= link_to "Log in | Sign Up", login_path%> <% end %></a> 

              <a href="carts"> <i class="fa fa-shopping-cart"></i> </a>
              <!-- <a id="right"> <i class="fa fa-shopping-cart"></i> </a> -->
              <!-- <%#= link_to %> <i class="fa fa-shopping-cart"> </i> <%#user_path(current_user) %> -->
            <!-- <a id="right"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>  </a> -->


            </p>

            <!-- <p id="right"> <a> Anu </a> </p> -->
         </div>
        </div>
        <div class="content clearfix">
          <div class="row">
            <!-- <div class="small-12 columns" id="main_content"> -->
              <%= render :partial => "partials/flash" %>
              <%= yield %>
            <!-- </div> -->
          </div>
        <!-- </div> -->
      </div> <!--/scroller-inner -->
    </div><!-- /scroller -->

      </div>
  <!-- /pusher -->
</div>
<!-- /container -->
<script src="js/classie.js"></script>
<script src="js/mlpushmenu.js"></script>
<script>
new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
</script>
<!-- </div>
</div> -->

    <footer>
      <div class="small-12 columns" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer> 

    
  </body>
  </html>



